{% extends '_base.html' %}

{% block content %}

<div ng-app='myApp' ng-controller="mainCtrl">
  <div class='row' style='margin-top: 50px'>
    <div class='col-md-2 col-lg-4'>
      <img class='img' src='../img/trump.png'>
    </div>
    <div class='col-md-4 col-lg-8'>
      <span class='name'>#Trump</span>
      <canvas id="trump" class="chart chart-doughnut"
      chart-colours='colors' chart-legend="true"
      chart-data="followersData" chart-labels="labels">
    </canvas>
  </div>
</div>
<br><br>
<div class='row'>
  <div class="col-md-4">
    <h2>Trump</h2>
    {% raw %}
    <div class="tweet-zone" ng-repeat="data in mostPopular.trump">
      <div  class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" >
            <h3 panelheader class="panel-title" >
              <strong><a href="https://twitter.com/{{data.user}}">{{data.user}}</a></strong> Followers:<span ng-bind="data.followers"></span></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                    {{data.message}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endraw %}
    </div>
    <div class="col-md-4">
      <h2>Hillary</h2>
      {% raw %}
      <div class="tweet-zone" ng-repeat="data in mostPopular.hillary">
        <div  class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" >
              <h3 panelheader class="panel-title" >
                <strong><a href="https://twitter.com/{{data.user}}">{{data.user}}</a></strong> Followers:<span ng-bind="data.followers"></span></h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                      {{data.message}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endraw %}
      </div>
      <div class="col-md-4">
        <h2>Bernie</h2>
        {% raw %}
        <div class="tweet-zone" ng-repeat="data in mostPopular.bernie">
          <div  class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" >
                <h3 panelheader class="panel-title" >
                  <strong><a href="https://twitter.com/{{data.user}}">{{data.user}}</a></strong> Followers:<span ng-bind="data.followers"></span></h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                        {{data.message}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endraw %}
        </div>
  </div>

  {% endblock %}
